<app-loader-screen *ngIf="showLoader"></app-loader-screen>
<div *ngFor="let exam of versions; let i = index">
  <h4>Version {{exam.version}}</h4>
  <div *ngFor="let question of exam.questions; let i = index">
    <h5>{{i+1}}. {{question.question}}</h5>
    <mat-radio-group class="example-radio-group">
      <mat-radio-button class="example-radio-button" disabled="true"
        *ngFor="let answer of question.answers|keyvalue">
        {{answer.value}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>